{% extends "account/registration_base.html" %}

{% block content %}
<div class="col-md-12">
    <div class="form-block mx-auto">
        <div class="text-center mb-5">
            <h3>Forget Password!</h3>
            <!-- <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p> -->
        </div>
        <form action="#" method="POST">{% csrf_token %}
            <div class="form-group first m-0">
                <label for="username">Email</label>
                <input class="form-control" type="text" name=email id="email" placeholder="Example@gmail.com">
            </div>
            <small class="text-danger ml-2">{{error}}</small>
            <input type="submit" id="submit_button" disabled value="Next" class="btn btn-block btn-primary">
        </form>
        <div class="text-center mb-5">
            <small>don't have account? <a href="{% url 'account:signup' %}"> sign up</a></small>
        </div>
    </div>
</div>
{% endblock content %}


{% block javascript %}
<script>
    let email = document.querySelector('#email');
    let gmail_regex = /[a-z0-9](\.?[a-z0-9]){5,}@g(oogle)?mail\.com/
    let submit_button = document.querySelector('#submit_button')
    console.log(submit_button)
    email.addEventListener('keyup', e => {
        if (!gmail_regex.test(email.value)) {
            submit_button.disabled = true;
            email.style.background = '#fbdfe3'
        } else {
            email.style.background = '#b8fccd'
            submit_button.disabled = false;
        }
    })
</script>
{% endblock javascript %}
