{% extends "account/registration_base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="col-md-12">
  <div class="form-block mx-auto">
    <div class="text-center mb-5">
      <h3>signup to <strong>My site :)</strong></h3>
      <!-- <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p> -->
    </div>
    <form action="#" method="POST">{% csrf_token %}
      <div class="form-group first">
        <label for="username">Username</label>
        {{form.username|add_class:'form-control h-25'|attr:"id:username"}}
      </div>
      <div class="form-group last mb-2">
        <label for="password">Email</label>
        {{form.email|add_class:'form-control h-25 '|attr:"id:email"}}
      </div>
      <div class="form-group last mb-2">
        <label for="password">Name</label>
        {{form.name|add_class:'form-control h-25 '|attr:"id:name"}}
      </div>
      <div class="form-group last mb-2">
        <label for="password">Password</label>
        {{form.password1|add_class:'form-control h-25 '|attr:"id:password1"}}
      </div>
      <div class="form-group last mb-2">
        <label for="password">Confirm Password</label>
        {{form.password2|add_class:'form-control h-25 '|attr:"id:password2"}}
      </div>
      <input type="submit" id="submit" value="Sign Up" class="btn btn-block btn-primary">

    </form>
    <div class="text-center mb-1">
      <small>already have account? <a href="{% url 'account:login' %}"> login</a></small>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
  let users = "{{users}}".split(" ");
  let emails = "{{emails}}".split(" ");
  inputs = document.querySelectorAll(".form-control");
  let submit_btn = document.querySelector("#submit");


  inputs.forEach(input => {
    input.addEventListener("keyup", e => {
      switch (e.target.name) {
        case 'username':
          checkUsername(e.target);
          break;
        case 'email':
          checkEmail(e.target);
          break;
        case 'name':
          checkName(e.target);
          break;
        case 'password1':
          checkPassword()
          break;
        case 'password2':
          checkPassword()
          break;
      }
    })
  })

  function checkUsername(target) {
    let username_regex = /([a-zA-Z._1-9]){4,24}/
    if (users.indexOf(target.value) >= 0 || !username_regex.test(target.value)) {
      target.style.background = '#fbdfe3'
    } else {
      target.style.background = '#b8fccd'
    }
  }

  function checkEmail(target) {
    let gmail_regex = /[a-z0-9](\.?[a-z0-9]){5,}@g(oogle)?mail\.com/
    if (emails.indexOf(target.value) >= 0 || !gmail_regex.test(target.value)) {
      target.style.background = '#fbdfe3'
    } else {
      target.style.background = '#b8fccd'
    }
  }

  function checkName(target) {
    if (target.value == "") {
      target.style.background = '#fbdfe3'
    } else {
      target.style.background = '#b8fccd'
    }
  }

  function checkPassword() {
    let password_regex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z#@*$%&\d]{8,}$/
    password1 = document.querySelector("#password1")
    password2 = document.querySelector("#password2")
    if (password1.value != password2.value || !password_regex.test(password1.value)) {
      password1.style.background = '#fbdfe3';
      password2.style.background = '#fbdfe3';
    } else {
      password1.style.background = '#b8fccd';
      password2.style.background = '#b8fccd';
    }

  }
</script>
{% endblock javascript %}