{% extends "account/registration_base.html" %}

{% block content %}
<div class="col-md-12">
    <div class="form-block mx-auto">
        <div class="text-center">
            <h4>Please enter the 4-digit verification code we sent via Email:</h4>
        </div>
        <form action="#" method="POST">{% csrf_token %}
            <div class="form-group first m-0">
                <input class="form-control text-center" style="font-size: xx-large;" type="text" name=otp id="otp"
                    maxlength="4" placeholder="_ _ _ _">
            </div>
            <small class="text-danger ml-2">{{error}}</small>
            <!-- <input type="button" class="btn btn-primary" value="resend code" id="resend-btn"> -->
            <input type="submit" id="submit_button" disabled value="Verify" class="btn btn-block btn-primary">
            <div class="text-center text-dark">
                <h6 class="mt-2 mb-1">Didn't receive the code?</h6>
                <a href="" type="button" id="resend-btn">Send code again</a><br>
                <a href="{% url 'account:forget_password' %}">Change email address</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    resend_btn = document.querySelector('#resend-btn');
    console.log(resend_btn);
    resend_btn.addEventListener("click", e => {
        let url = "{% url 'account:resend_code' %}";
        fetch(url, {
            method: "Post",
            headers: {
                "x-CSRFToken": getCSRFToken(),
                "X-Requested-With": "XMLHttpRequest",
            }
        }).then(function (response) {
            return response.json();
        }).then(function (response) {})
    })

    function getCSRFToken() {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, 10) == ('csrftoken' + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(10));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

<script>
    let input = document.querySelector("#otp");
    input.addEventListener("keyup", e => {
        if (input.value.length == 4) {
            document.querySelector("#submit_button").disabled = false;
            document.querySelector("#submit_button").click();
        }
    })
</script>
{% endblock javascript %}