{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}change password{% endblock title %}
{% block content %}



<link rel="stylesheet" href="{% static 'account/login/fonts/icomoon/style.css' %}">

<link rel="stylesheet" href="{% static 'account/login/css/owl.carousel.min.css' %}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'account/login/css/bootstrap.min.css' %}">

<!-- Style -->
<link rel="stylesheet" href="{% static 'account/login/css/style.css' %}">

<div class="d-md-flex half">
  <div class="bg" style="background-image: url('/static/account/login/images/bg_1.jpg');"></div>
  <div class="contents">

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
          <div class="form-block mx-auto">
            <div class="text-center mb-5">
              <h3>Login to <strong>My site :)</strong></h3>
              <!-- <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p> -->
            </div>
            <form action="#" method="POST">{% csrf_token %}
              <div class="form-group first">
                <label for="username">Old Password</label>
                {{form.old_password|add_class:'form-control'}}
              </div>
              <div class="form-group last mb-3">
                <label for="password">New Password</label>
                {{form.new_password1|add_class:'form-control'}}
              </div>
              <div class="form-group last mb-3">
                <label for="password">Confirm Password</label>
                {{form.new_password2|add_class:'form-control'}}
              </div>

              <input type="submit" value="Change Password" class="btn btn-block btn-primary">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>



<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

{% endblock content %}
