{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'instagram/css/story-account.css' %}">


<div class="home-page pt-2">
  <div class="suggestions d-none d-md-block  ">
    <h4>suggestions for you</h4>
    <hr>
    {% for account in suggestions %}
    <div class="suggest p-1">
      <a href="{% url 'profiles:profile' account.username %}"
        class="btn btn-primary py-0 w-100 d-flex align-items-center">
        <img height="50px" class="rounded-circle" width="50px" src="{{account.profile.image.url}}" alt="">
        <span class="ml-5 flex-grow-1 text-left">
          {{account.username|truncatechars:15}}
        </span>
      </a>
    </div>
    {% endfor %}

  </div>
  <div class="home-content d-flex flex-column w-50">
    <div class="story-list d-flex">
      {% for account in accounts %}
      <div class="story-image" {% if request.user not in account.stories.last.hits.all %} style="order: -1;"
        {% endif %}>
        <div class="image_outer_container d-flex mx-2">
          <div class="green_icon"></div>
          <div class="image_inner_container" {% if request.user in account.stories.last.hits.all %}
            style="background: darkgray;" {% endif %}>
            <a target="_blank" href="{% url 'story:story_list' account.username %}">
              <img src="{{account.profile.image.url}}">
            </a>
          </div>
        </div>

        <a href="{% url 'profiles:profile' account.username %}">
          <p class="story-user text-center mb-1">{{account.username}}</p>
        </a>
      </div>
      {% endfor %}
    </div>
    <hr class="mt-0">
    <div class="posts">
      <div class="d-flex flex-wrap">
        {% for post in posts %}
        <div class="post-body d-flex flex-column w-100">
          <div class="search-item pl-3 py-2 d-inline-flex">
            <div class="search-item-img mr-1">
              <a href="{% url 'profiles:profile' post.user.username %}">
                <img src="{{post.user.profile.image.url}}" class="rounded-circle" width="50px" height="50px">
              </a>
            </div>
            <div class="search-item-content ml-2">
              <h5 class="search-item-caption m-0"><a
                  href="{% url 'profiles:profile' post.user.username %}">{{post.user.username}}</a></h5>
              <div class="search-item-meta mb-15">
                <ul class="list-inline m-0">
                  <li class=""><small>{{post.date|date:'Y-m-d H:i'}}</small></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column w-100">
            <div class="home-post">
              {% include "post/tags/slide_show.html" %}
            </div>
            <div class="post-detail">
              <div class="detail">
                <div class="like-comment" id="{{post.pk}}">
                  {% if request.user in post.likes.all %}
                  <a style="color:red !important" id="like_avatar" type="button"><i class="fas fa-heart fa-2x"></i></a>
                  {% else %}
                  <a style="color:black" id="like_avatar" type="button"><i class="far fa-heart fa-2x"></i></a>
                  {% endif %}

                  <a href="{% url 'post:post_detail' post.pk %}" style="color:black" class="mx-3">
                    <i class="fas fa-comments fa-2x" aria-hidden="true"></i>
                    {{post.comments.count}}
                  </a>
                  {% if request.user in post.saves.all %}
                  <a style="color:black" class="float-right" id="save_avatar" type="button"><i
                      class="fas fa-bookmark fa-2x" id="avatar"></i></a>
                  {% else %}
                  <a style="color:black" class="float-right" id="save_avatar" type="button"><i
                      class="far fa-bookmark fa-2x" id="avatar"></i></a>
                  {% endif %}
                  <p class="mb-1"><small style="font-size: 10px;font-family: initial;">liked by
                      <strong>
                        <span id="likes_count{{post.pk}}">{{post.likes.count}}</span> people
                        {% for liked_user in post.likes.all %}
                        {% if liked_user in request.user.following.all %}
                        </a><small> & </small>
                        <a style="color:black" href="{% url 'account:profile' liked_user.username %}">
                          {{liked_user.username}}
                        </a>
                        {% endif %}
                        {% endfor %}
                      </strong></small>
                  </p>
                  <hr class="m-0">
                </div>

                <p class="post-text">
                  {{post.text|truncatewords:100}}
                </p>
              </div>
            </div>
          </div>

        </div>
        <hr class="w-100 mx-1">
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
  // double click like post
  let posts = document.querySelectorAll(".home-post");
  posts.forEach(post => {
    post.addEventListener("dblclick", e => {
      let target = e.target.parentElement.parentElement.parentElement.parentElement.parentElement;
      like_avatar = target.querySelector("#like_avatar");
      like_avatar.firstChild.click();
    })
  })
  // ajax like post
  let like_avatars = document.querySelectorAll("#like_avatar");
  like_avatars.forEach(like => {
    like.addEventListener("click", e => {
      e.preventDefault();
      let post_pk = e.target.parentElement.parentElement.id;
      if (e.target.parentElement.style.color == 'red') {
        let url_mask = "{% url 'post:unlike_post' request.user.username -1 %}".replace("-1", post_pk);
        fetch(url_mask, {
          method: "Post",
          headers: {
            "x-CSRFToken": getCSRFToken(),
            "X-Requested-With": "XMLHttpRequest",
          }
        }).then(function (response) {
          let heart = e.target.parentElement;
          heart.style.color = 'black';
          document.querySelector(`#likes_count${post_pk}`).textContent = parseInt(document.querySelector(
            `#likes_count${post_pk}`).textContent) - 1;
          heart.firstChild.className = "far fa-heart fa-2x";
          return response.json();
        })
      } else {
        let url_mask = "{% url 'post:like_post' request.user.username -1 %}".replace("-1", post_pk);
        fetch(url_mask, {
          method: "Post",
          headers: {
            "x-CSRFToken": getCSRFToken(),
            "X-Requested-With": "XMLHttpRequest",
          }
        }).then(function (response) {
          let heart = e.target.parentElement;
          heart.setAttribute('style', 'color:red !important');
          document.querySelector(`#likes_count${post_pk}`).textContent = parseInt(document.querySelector(
            `#likes_count${post_pk}`).textContent) + 1;
          heart.firstChild.className = "fas fa-heart fa-2x";
          return response.json();
        })
      }
    })
  })
  // ajax save post
  let save_avatars = document.querySelectorAll("#save_avatar");
  save_avatars.forEach(save => {
    save.addEventListener("click", e => {
      e.preventDefault();
      let post_pk = e.target.parentElement.parentElement.id;
      let url_mask;
      if (e.target.classList.contains("far")) {
        url_mask = "{% url 'post:save_post' request.user.username -1 %}".replace("-1", post_pk);
        e.target.parentElement.querySelector("#avatar").className = 'fas fa-bookmark fa-2x';
      } else {
        url_mask = "{% url 'post:unsave_post' request.user.username -1 %}".replace("-1", post_pk);
        e.target.parentElement.querySelector("#avatar").className = 'far fa-bookmark fa-2x';
      }
      fetch(url_mask, {
        method: "Post",
        headers: {
          "x-CSRFToken": getCSRFToken(),
          "X-Requested-With": "XMLHttpRequest",
        }
      }).then(function (response) {

        return response.json();
      })
    })
  })

  // get csrfToken
  function getCSRFToken() {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        if (cookie.substring(0, 10) == ('csrftoken' + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(10));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>

{% endblock javascript %}