body {
  background-color: #e3e3e3;
}

.container-fluid {
  min-height: 100vh;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 40px;
  padding-bottom: 50px;
}

requires .home-post img {
  width: 100%;
}

.post-body {
  border: groove;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  background: white;
}

.home-content {
  justify-content: space-evenly;
}

.detail {
  word-wrap: break-word;
  padding: 11px;
  font-size: 14px;
}

.suggestions {
  padding: 10px;
  text-align: center;
  padding-right: 0;
  border: groove;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background: white;
}

nav.navbar.navbar-expand-lg.navbar-light {
  background: linear-gradient(45deg, #d46b6b, #acfeff);
  border-bottom: double #9fa2e4;
  box-shadow: 2px -7px 20px 0px black;
  margin-bottom: 15px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
}


ul.navbar-nav.flex-row.align-items-center img {
  border: solid white;
}

.story-list.d-flex {
  min-height: 109px;
  border: groove;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  background: white;
}

.search-item-content a {
  font-size: 17px;
}

.search-item-content {
  font-size: 14px;
}

span.badge.rounded-pill.badge-notification.bg-danger {
  right: 15px;
  position: relative;
  font-size: 9px;
}
.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background: #141315;
  min-height: 50px;
}