.profile-body {
  width: 55%;
}


@media (max-width: 1200px) {
  .profile-body {
    width: 70% !important;
  }
}
@media (max-width: 950px) {
  .profile-body {
    width: 95% !important;
  }
}

.pro-post.d-flex {
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.post {
  width: 32%;
  margin-bottom: 5px;
}

.post-image {
  height: 20vh;
  width: 100%;
}