{% load humanize %}

{% for comment in comment.replays.all %}

<!-- Comments -->

<div class="media-body pl-5">
    <a class="media-left" href="#"><img class="img-sm rounded-circle mr-1" src="{{comment.user.image.url}}"></a>
    <div class="mar-btm">
        <a href="{% url 'account:profile' comment.user.username %}" id="username">{{comment.user.username}}</a>
        <p class="text-muted text-sm">{{comment.date|naturaltime}}</p>
    </div>
    <div class="text-like d-flex justify-content-between w-50">
        <p>{{comment.text}}</p>
    </div>
    <div class="d-flex     align-items-baseline">
        <div class="btn-group d-flex align-items-baseline">
            {% if request.user in comment.likes.all %}
            <a class="btn btn-sm text-success  disable"><i class="fa fa-thumbs-up"></i></a>
            {% else %}
            <a class="btn btn-sm btn-default" href="{% url 'comment:like_comment' comment.pk %}">
                <i class="fa fa-thumbs-up"></i></a>
            {% endif %}
            <small>{{comment.likes.count}}</small>
            {% if request.user in comment.dislikes.all %}
            <a class="btn btn-sm text-danger disable"><i class="fa fa-thumbs-down"></i></a>
            {% else %}
            <a class="btn btn-sm btn-default" href="{% url 'comment:dislike_comment' comment.pk %}">
                <i class="fa fa-thumbs-down"></i></a>
            {% endif %}
            <small>{{comment.dislikes.count}}</small>
        </div>
        <button class="btn btn-outline-info ml-4" id="replay_btn" type="button">
            <i class="fas fa-pencil-alt fa-fw"></i>replay</button>
    </div>
    <hr>
</div>
{% endfor %}