@font-face {
  font-family: myFirstFont;
  src: url(../font/Tanha.woff);
}

* {
  font-family: myFirstFont;
}

#header {
  background: #820f0f;
}
.module caption {
  
  background: #820f0f;
}
.module h2{
  background: #820f0f;

}
a.section:link, a.section:visited {
  color: #f5dd5d;
}
.row2 {
  background: #ffeded;
}
tr:nth-child(2n+1), .row-form-errors {
  background: #461c47;
}
a {
  color: rgb(0, 78, 0);
}